@mixin blurMan ($px) {
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin scale-item($x:1, $y:1){
  -webkit-transform: scale($x, $y);
  -moz-transform   : scale($x, $y);
  -o-transform     : scale($x, $y);
  -ms-transform    : scale($x, $y);
  transform        : scale($x, $y);
}

@mixin greyscale ($percent) {
  -webkit-filter: grayscale($percent);
  filter: grayscale($percent*10);
}