// Modals

.modal-dialog {
  margin: 0 auto!important;
}

.modal-content {
  border: none!important;
  border-radius: 0px!important;
  height: inherit;

  .content {
    padding: 50px;
  }

  .panel-heading {
    border: none!important;
    border-radius: 0px!important;
  }

}

.ng-aside.modal{
  z-index: 1050!important;
}
.modal {
  z-index: 4096!important;
}