//
   Created by jorge on 22/10/15.

.row.card
    .backgound-img
        gallery
            h1.bg-title.text-center
                span.light(ng-bind="get(galleryId).name")
            img.img-responsive.center-block(ng-src="{{get(galleryId).heroImage.secure_url}}")

    .container
        .container
            .col-md-12
                md-button.md-fab.md-primary.back.pull-right(ui-sref="galleries")
                    md-tooltip(md-direction='bottom')
                        | Volver
                    span.glyphicon.glyphicon-chevron-left
            .col-md-12
                gallery
                    ng-gallery(images="get(galleryId).images")
