//
   Created by jorge on 22/10/15.
.row
    .title
        h1.text-center Galerías
    .wrap-white
        .container
            .row
                .panel
                    .panel-body
                        gallery
                            .list-item.col-sm-6(ng-repeat="gallery in list()")
                                .row
                                    img.img-responsive(ng-src="{{gallery.heroImage.secure_url}}")
                                    .content
                                        .btn.btn-primary.btn-lg.btn-block(ng-bind="gallery.name" ui-sref="gallery({ id : gallery._id })")
                                            span.glyphicon.glyphicon-font(ng-bind="gallery.publishedDate | date :format : timezone")
