//
   Created by jorge on 13/07/15.


.row.slide(ng-controller="SliderController")
    carousel(interval="myInterval()")
        slide(ng-repeat="slide in slides()" active="slide.active" style="{{ slide.style }}" leos-resize ng-style="resizeWithOffset(90)")
            .carousel-caption(style="{{ slide.textStyle }}")
                p(ng-bind="slide.text")
