//
    Swwel header

.navbar.navbar-leos.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-inner
            a.logo(ui-sref='home')
                    img(src="/images/logoleos.png", alt="Taekwondo Logo")

        .navbar-header
            button.navbar-toggle(type='button' ng-class="{'active': getModalState() == true, 'reverse': getModalState() == true}" ng-click="toggleMenu();")
                span.sr-only Toggle navigation
                span.icon-bar.first
                span.icon-bar.middle
                span.icon-bar.last
        .navbar-header-right
            button.navbar-toggle.btn-user.ng-hide(ng-if="getUser() != null")
                span.glyphicon.glyphicon-user