
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: inherit;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  @include transition(all 0.3s ease);

  .date {
    padding-bottom: 20px;
  }

  .datetime {
    color: $leos-red;
    font-weight: 600;
  }

  .date .glyphicon {
    padding-right: 20px;
  }

  &.post-item {
    color: #000000;
    border-bottom: 1px solid #DDDDDD;
    h1 {
      padding-top: 20px;
      padding-bottom: 30px;
    }
    &:hover {
      background-color: #EEEEEE;
    }
  }
}


.btn-primary {
  background-color: $leos-blue-hyper-soft;
  color: white;
}

.btn-primary:hover {
  background-color: $leos-blue;
  border-color: $leos-blue;
}

.btn-primary-light {
  background-color: $leos-blue-light;
  color: #000000;
}

.btn-primary-light:hover {
  background-color: $leos-blue-soft;
  border-color: $leos-blue-soft;
  color: #000000;
}

.btn-primary-soft {
  background-color: $leos-blue-soft;
  color: white;
}
.btn-primary-soft:hover {
  background-color: $leos-blue-hard;
  border-color: $leos-blue-hard;
  color: white;
}

.btn-primary-medium {
  background-color: $leos-blue;
  color: white;
}

.btn-primary-medium:hover {
  background-color: $leos-blue-hard;
  border-color: $leos-blue-hard;
  color: #000000;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: $leos-red-hard;
  border-color: $leos-red-hard;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn.circle {
  z-index: 500;
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);
  @include border-right-radius(50%);
  box-shadow: 1px 3px 3px #CCC;
  width: 50px;
  height: 50px;
  span {
    line-height: 35.5px;
  }

  &:hover {
    box-shadow: 1px 5px 5px #AAA;
  }
}

.back {
  position: absolute;
  right: 0;
  margin-top: -35px;
}

.contact-ball {
  @include transition(all .5s ease-in);
  position: fixed;
  right: 15px;
  bottom: 50px;
  md-fab-trigger .md-fab .glyphicon {
    position: absolute;
    font-size: 18px;
    line-height: 34px;
    left: 1px;
    right: 0;
    top: 9px;
    @include transition(all .15s);

  }
  &.md-is-open {
    md-fab-trigger .md-fab .glyphicon {
      @include transform(rotate(-45deg));
      @include transform-origin(center center);
    }
  }
}