include ../mixins/flash-messages

doctype html
html(ng-app="leos")

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        meta(name="keywords" content="LeosKimDo, Leos Kim Do, taekwondo, taekwondo sevilla, taekwondo tomares, fataekwondo, fetaekwondo, wtf, artes marciales, deporte, escuela, gimnasio, España, Andalucía, Sevilla, Tomares, Sanlúcar, Sanlúcar la Mayor, boxeo, savate, haidong gum do")
        meta(name="description" content=(seoDescription) ? seoDescription : "Club Leo's Kim Do, escuela de Taekwondo y defensa personal. Tomares y Sanlúcar la Mayor.")

        title= title || 'Club Leos'

        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="alternate" href="leoskimdo.com" hreflang="es-es")
        link(href="http://fonts.googleapis.com/css?family=Josefin+Slab|Roboto|Roboto+Condensed|Alegreya:700" rel='stylesheet' type='text/css')

        <!-- injector:css -->
        link(href="/stylesheets/dist-leos.min.css", rel="stylesheet")
        <!-- endinjector -->

    //- This file provides the default styling for the KeystoneJS Content Editor
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- Safely remove this block if you are not targeting IE8
        //-[if lt IE 9]
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
            script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        //-[endif]

        //- Include template-specific stylesheets by extending the css block
        block css

        //- Add any other template-specific HEAD tags by extending the head block
        block head

    //- HTML BODY
    body(menu)
        //header(ui-view="header")
        header.loading.enter
            include ../../src/client/templates/header/header
        #content.content.hidden(ng-swipe-left="close()" ng-swipe-right="open();")
            .container-fluid(ui-wiew-container)
                .main(ui-view="main")
                    block main

            .container-fluid(ui-wiew-container)
                .zipper(ui-view="content")
                    block content

            .container-fluid(ui-wiew-container)
                .zipper-footer(ui-view="footer")
                    block footer

            md-fab-speed-dial.contact-ball.md-up.md-noop.md-fling-remove.md-scale(md-open="contact" md-direction="up" ng-click="contact =! contact")
                md-fab-trigger
                    md-button.md-fab.md-primary(aria-label="menu")
                        span.glyphicon.glyphicon-plus
                md-fab-actions
                    md-button.md-fab.md-raised.md-mini(aria-label="facebook")
                        a(ng-click="followMe()")
                            span.glyphicon.glyphicon-thumbs-up
                    md-button.md-fab.md-raised.md-mini(aria-label="email")
                        a(ng-click="sendMeAnEmailBaby()")
                            span.glyphicon.glyphicon-envelope
                    md-button.md-fab.md-raised.md-mini(aria-label="phone")
                        a(ng-click="callMeBaby()")
                            span.glyphicon.glyphicon-phone

        if env != "production"
            script(async src="//localhost:1337/livereload.js")


        //- JAVASCRIPT
        script(async src="https://maps.googleapis.com/maps/api/js")

        <!-- injector:js -->
        script(src="/javascripts/dist-leos.min.js")
        <!-- endinjector -->

        script
            |(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            |    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            |        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            |})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            |ga('create', 'UA-34855787-1', 'auto');
            //ga('send', 'pageview');

        //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
        //- which generate links to edit content for users who can access Keystone
        if user && user.canAccessKeystone
            script(src='/keystone/js/content/editor.js')

        //- Add scripts that are globally required by your site here.

        //- Include template-specific javascript files by extending the js block
        block js
