//
   Created by jorge on 10/07/15.
.row
    .title
        h1.text-center Sobre Nosotros

    .wrap-white
        .container.about-us
            .row
                .col-xs-12.col-sm-6(id="about-us-content-leo")
                    .panel.panel-leos
                        h2.text-center El Club
                        p El club de Taekwondo <strong>Club Leo's Kim Do</strong> nacío en Sevilla en 2005 siguiendo con lo aprendido de la mano del <strong>Maestro Tai Myung Kim Sin</strong>, 8º Dan.
                            | Manteniendonos al margen del Taekwondo competitivo y de campeonato, nos centramos en la <b>técnica</b> como clave del aprendizaje marcial y los en los valores de amistad y respeto como base para pequeños y mayores.
                            | El Maestro Leonardo Arco Martín, 6 Dan, el maestro Jorge Arco Martínez, 3 Dan, y el maestro Javier Arco Martínez, 4 Dan, imparten las clases, basadas siempre en la risa como mejor vía para la asimilación del conocimiento.
                            | Basados siempre en el Taekwondo, poco a poco y después de años de formación entraron otras artes marciales como Haidong Gumdo y Savate.

                .col-xs-12.col-sm-6.cover-container(id="leo" height-ref="leo" height-from="about-us-content-leo" height-ratio="1")
                    .about-us-image(style="background-image: url('/images/leo-hd.jpg')")

            .row
                .col-xs-12.col-sm-push-6.col-sm-6(id="about-us-content-alumns")
                    .panel.panel-leos
                        h2.text-center Los alumnos
                        p A lo largo de los años son muchos los alumnos y alumnas que han pasado por el Club.
                            | Muchos de ellos consiguieron sus objetivos, su ansiado cinturón negro. Otros se quedan simplemente por que se divierten.
                            | Algunos incluso ya dan clase a otros. Otros desconectan unas horas, sudan con ganas y descargan aquello que el día a día les echa encima.
                            | La mayoría de alumnos son niños y muchas veces acompañados de sus padres. Están cargados de energía, son esponjas con ansias de saberlo todo y los protagonistas de los mejores momentos, tanto en los examenes de grado como en el día a día.
                        p A todos ellos va dedicado este espacio, al fin y al cabo, son ellos el <strong>Club Leo's Kim Do</strong>.

                .col-xs-12.col-sm-pull-6.col-sm-6.cover-container(id="alumns" height-ref="alumns" height-from="about-us-content-alumns" height-ratio="1")
                    .about-us-image(style="background-image: url('/images/espartinas.jpg')")