.slider {
  max-height: 550px;
}
.carousel-inner>.item>img {
  display: block;
  height: auto;
}

.carousel ol{
  margin-bottom: 15px;
}

.carousel-indicators li {
  @include transition(0.5s all ease-in);
  margin: 2px;
  height: 10px;
  width: 10px;

}

.carousel-indicators .active {
  width: 25px;
  height: 10px;
  background-color: $leos-blue;
  border: 1px solid $leos-blue;
  margin: 2px;
}

.right.carousel-control, .left.carousel-control {
  display: none;
  opacity: 0;
  filter:alpha(opacity=0); /* IE support */
}