.card {
  @include transition(all .5s ease-in);
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 1px 2px 2px #CCC;
  color: #000!important;
  display: block;

  &:hover{
    box-shadow: 1px 2px 4px #CCC;
  }

  .backgound-img {
    @include transition(all 0.5s ease-in);
    overflow: hidden;
    position: relative;
    max-height: $card-bg-image-min-size;
    img {
      @include greyscale(5%);
      width: 100%;
    }

    .bg-title {
      font-weight: 900;
      position: absolute;
      top: 30%;
      left: 0;
      text-align: center;
      align-content: center;
      right: 0;
      font-size: 50px;
      z-index: 150;
    }

    .text {
      top: 160px;
      position: absolute;
    }
    &:hover {
      max-height: $card-bg-image-max-size;
    }
  }

  .master {
    img {
      border: $card-border-size solid white;
      margin-top: - $card-master-image-position;
      @include transition(all 1.5s ease-in-out);
      @include border-top-radius(50%);
      @include border-right-radius(50%);
      @include border-bottom-radius(50%);
      @include border-left-radius(50%);
      width: $card-master-image;
    }

    .author {
      left: 0;
      right: 0;
      font-weight: 700;
      font-family: 'Lato';
      border-bottom: 1px solid #000;

      .name {
        display: inline;
      }
      .last {
        display: inline;
      }
    }
  }

  .content {
    border-top: $card-border-size solid white;
    background-color: #FFFFFF;
    h2 {
      span {
        padding-left: 25px;
        color: $leos-red;
      }
    }
    h4 {
      color: $leos-red-hard;
      padding-bottom: 20px;
      span {
        font-weight: 800;
      }
    }
    p {
      text-align: justify;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 1.6;
    }


    .info {
      border-top: 1px solid $leos-red-hyper-soft;
      padding-top: 20px;
      padding-bottom: 20px;
    }


  }

}

.destination {
  @include transition(all linear 0.5s);
  opacity: 1;
  border: 1px solid #EEE;
  margin-bottom: 14px;

  &.ng-leave.ng-leave-active,
  &.ng-move,
  &.ng-enter {
    opacity:0;
  }

  &.ng-leave,
  &.ng-move.ng-move-active,
  &.ng-enter.ng-enter-active {
    opacity:1;
  }
  .btn{
    padding: 0px;
  }
  .card{
    .backgound-img{
      max-height: 120px;
    }
  }
  .master {
    img {
      @include transition(all 0.3s ease-in);
      border: $card-border-size solid white;
      margin-top: - $card-master-image-position/1.5;
      @include border-top-radius(50%);
      @include border-right-radius(50%);
      @include border-bottom-radius(50%);
      @include border-left-radius(50%);
      width: $card-master-image/1.5;
    }
  }
}


a.card:hover{
  text-decoration: none;
}
