//
   Created by jorge on 27/07/15.

.row
    .title
        h1.text-center Blog
    .wrap-white
        .container
            .row
                .panel
                    .panel-body
                        form
                            .form-group
                                md-input-container
                                    label Buscar
                                    input(type="text" ng-model="blogFilter.query")
                .destination(ng-repeat="post in getAll() | filter:blogFilter.query")
                    a.card.post(ui-sref="post({postName: post._id})")
                            .backgound-img
                                img.img-responsive.center-block(ng-src="{{post.image.secure_url}}")
                            .content
                                .container
                                    .btn.pull-left
                                        .date
                                            span.glyphicon.glyphicon-font.pull-left
                                            span.datetime.pull-left(ng-bind="post.publishedDate | date : format : timezone")
                                    .col-md-12
                                        .master
                                            img.img-responsive.center-block(ng-src="{{post.author.photo.secure_url}}")
                                            .author.text-center
                                                .name(ng-bind="post.author.name.first")
                                                .last(ng-bind="post.author.name.last")

                                    .col-md-12.intro(ng-bind-html="post.content.brief")