//
   Created by jorge on 3/08/15.


article
    .row.card.post
        .backgound-img
            h1.bg-title.text-center
                span.light(ng-bind="post.title")
            img.img-responsive.center-block(ng-src="{{post.image.secure_url}}")

        .content
            .container
                .btn.pull-left
                    .date
                        span.glyphicon.glyphicon-font.pull-left
                        span.datetime.pull-left(ng-bind="post.publishedDate | date : format : timezone")
                .col-md-12
                    md-button.md-fab.md-primary.back.pull-right(ui-sref="blog")
                        md-tooltip(md-direction='bottom')
                            | Volver
                        span.glyphicon.glyphicon-chevron-left
                .col-md-12
                    .master
                        img.img-responsive.center-block(ng-src="{{post.author.photo.secure_url}}")
                        .author.text-center
                            .name(ng-bind="post.author.name.first")
                            .last(ng-bind="post.author.name.last")

                .col-md-12.extend(ng-bind-html="post.content.extended")

