$font-stack:            'Josefin Slab', serif;;
$animation:             cubic-bezier(.88,.78,.65,.94);
$logo-size:             90px;
$font-size:             18px;
$primary-color:         #000;
$primary-color-soft:    #666;

$leos-blue-hard:        #76C0C5;
$leos-blue:             #6BC4C3;
$leos-blue-soft:        #6DC8C7;
$leos-blue-hyper-soft:  #75CDCD;
$leos-blue-light:       #8BDAD5;
$leos-blue-super-light: #8bd5d0;

$leos-red-hard:         #842623;
$leos-red:              #9C2F2D;
$leos-red-soft:         #CB5649;
$leos-red-hyper-soft:   #CF5659;
$leos-red-light:        #E77D77;

$leos-bg: #efedeb;
$leos-white:            #FFF;
$menu-bg-color:         #FFF;
$menu-text-color:       #000;
$wrapper-margins:       0px;
$home-images-margin:    80px;
$table-main-breakpoint-1: 769px;


$card-master-image : 200px;
$card-master-image-position : $card-master-image/1.8;
$card-bg-image-min-size : 500px;
$card-bg-image-max-size : 500px;
$card-border-size : 10px;
