

// Mixins
@import "mixins/mixins";
@import "../vendor/bourbon/app/assets/stylesheets/bourbon";
@import "../vendor/angular-material/angular-material.scss";

// Configuration
@import "settings";
// Components
@import "components/navigation/navigation";
@import "components/card/card";
@import "components/form/form";
@import "components/loading-bar/loading-bar";
@import "components/buttons/buttons";
@import "components/menu/menu";
@import "components/slider/slider";
@import "components/modal/modals";
@import "components/footer/footer";
@import "components/loader/loader";
@import "components/panel/panel";
@import "components/maps/maps";
@import "components/table/table";
@import "components/titles/titles";
@import "components/gallery/gallery";

// Pages
@import "pages/post";
@import "pages/home";
@import "pages/about";
@import "pages/horary";

// Responsive
@import "responsive/desktop";
@import "responsive/tablet";
@import "responsive/mobile";



body {
  color: $primary-color!important;
  font-family: $font-stack;
  font-size: $font-size;
  background-color: $leos-bg;
}

h1 {

  margin-top: 0px;
  margin-bottom: 0px;
//  padding-bottom: 30px;
}

h1:after
{
  content: none;
  display: block;
}

.main {
  margin-top: $logo-size;
}

.container {
  max-width: 800px!important;
}
