
//Main navigation Animation

[ui-view="content"] {
  margin-bottom: 170px;
}
[ui-wiew-container] {
  position: relative;
}

.zipper.ng-enter, .zipper.ng-leave {
  left: 0;
  right: 0;
  position: absolute;
  margin-right: 15px;
  margin-left: 15px;

  @include transition(all 0.35s $animation);
}

.zipper.ng-enter {
  @include opacity(0);
  @include transform(scale3d(0, 0, 0));
}

.zipper.ng-enter-active {
  @include opacity(1);
  @include transform(scale3d(1, 1, 1));
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.zipper.ng-leave {
  @include opacity(1);
  @include transform(translate3d(0, 0, 0));
}

.zipper.ng-leave-active {
  @include opacity(0);
  @include transform(translate3d(0, 0, 0));
}

// Footer

.zipper-footer.ng-enter {
  left: 0;
  right: 0;
  position: absolute;
  margin-right: 15px;
  margin-left: 15px;
  @include transition(all 0.35s $animation);
  @include transition-delay(0.3s);
}
.zipper-footer.ng-leave {
  left: 0;
  right: 0;
  position: absolute;
  margin-right: 15px;
  margin-left: 15px;
  @include transition(all 0.35s $animation);
  display: none;
}

.zipper-footer.ng-enter {
  @include opacity(0);
  @include transform(scale3d(0, 0, 0));
}

.zipper-footer.ng-enter-active {
  @include opacity(1);
  @include transform(scale3d(1, 1, 1));
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.zipper-footer.ng-leave {
  @include opacity(1);
  @include transform(translate3d(0, 0, 0));
}

.zipper-footer.ng-leave-active {
  @include opacity(0);
  @include transform(translate3d(0, 0, 0));
}