@media (max-width: 768px) {

  $sidenav-default-width: 100%!important;

  md-sidenav {
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    z-index: $z-index-sidenav;

    width: $sidenav-default-width;
    min-width: $sidenav-default-width;
    max-width: $sidenav-default-width;
  }

  .navbar-inner {
    text-align: inherit;
  }

  .navbar-toggle {
    display: block;
  }
  .navbar-toggle {
    margin-right: -10px;
  }


  .carousel ol{
    margin-bottom: 15px;
  }


  //MODAL
  .modal-dialog {
    position: relative;
    min-width: 260px;
    margin: 10px;
  }

  .activities .subtitle {
    display: none;
  }
  // Aside
  .ng-aside .modal-sm{
    width: 100%!important;
  }


  .modal-dialog {
    height: 100%;
  }


  // panel mobile
  .wrap-white {
    margin-top: 0px;
  }

  .carousel-indicators li {
    @include transition(0.5s all ease-in);
    margin: 2px;
    height: 25px;
    width: 25px;

  }

  .carousel-indicators .active {
    width: 60px;
    height: 25px;
    background-color: $leos-blue;
    border: 1px solid $leos-blue;
    margin: 2px;
  }

  table th {
    display: none;
  }

  .card {
    .backgound-img{
      img{
        min-height: 180px;
      }
    }
    .master {
      img {
        @include transition(all 0.3s ease-in);
        border: $card-border-size solid white;
        margin-top: - $card-master-image-position/2;
        @include transition(all 1.5s ease-in-out);
        @include border-top-radius(50%);
        @include border-right-radius(50%);
        @include border-bottom-radius(50%);
        @include border-left-radius(50%);
        width: $card-master-image/2;
      }
    }
    .content {
      .btn {
        position: absolute;
        .date .glyphicon {
          padding-right: 5px;
        }
      }
    }
  }

  .contact-ball{
    bottom: 15px;
  }
  
  footer {
    display: none;
    z-index: -1;
  }
}