@media (min-width: 768px) and (max-width: 991px) {


  // NAVBAR

  .navbar-nav>li>a {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  // panel mobile
  .wrap-white {
    margin-top: 0px;
  }

  .carousel-indicators li {
    @include transition(0.5s all ease-in);
    margin: 2px;
    height: 25px;
    width: 25px;

  }

  .carousel-indicators .active {
    width: 60px;
    height: 25px;
    background-color: $leos-blue;
    border: 1px solid $leos-blue;
    margin: 2px;
  }

  .card {
    .content {
      .btn {
        position: absolute;
      }
    }
  }
}
