gallery {
  .list-item{
    position: relative;
    overflow: hidden;
    display: inline-block;
    box-shadow: 1px 0px 3px #BBB;
    margin: 0;
    height: 260px;

    img {
      @include transition(all 1.5s);
      max-width: 125%;
    }
    .content {
      span {
        .glyphicon:before {
          padding-right: 15px;
        }
        padding: 10px;
      }

      bottom: -100%;
      position: absolute;
      width: 100%;

    }
    &:hover, &:active {
      img {
        @include transform(scale(1.2));
      }
      .content {
        z-index: 500;
        bottom: 0px;
        @include transition(all 0.7s);
      }
    }
  }

  img.ng-thumb {
    height: 120px;
    float: left;
    display: block;
    cursor: pointer;
    margin: 12px 12px 0 0;
  }

  .close-popup .fa {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .close-popup .fa.fa-close:before {
    content: "\e014";
  }

  .ng-gallery-content>img{
    max-width: 100%;
  }

  .uil-ring-css{
    height: 0px;
    margin: 0px auto 0;
    div {
      box-shadow: 0 6px 0 0 $leos-red-hard;
      border-radius: 50%;
      left: 49%;
      z-index: 500;
      margin: 0 auto;
      top: 350px;
    }
  }

}