// Navbar
header {

  .navbar {
    z-index: 2048;
    border: 0px solid transparent;
    box-shadow: rgba(3,3,3,.4) 0px 1px 2px;
    @include transition(all 1s ease-in);
    min-height: 100px;
    height: 5%;
  }

  &.loading .navbar {
    height: 100%;

    .logo img {
      max-width: $logo-size*3;
      max-height: $logo-size*3;
    }

    .navbar-header {
      @include opacity(0);
    }
    .btn-user {
      @include opacity(0);
    }
  }

  .logo img {
    position: absolute;
    @include transition(all 1s ease-in);
    z-index: 2050;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: $logo-size;
    max-height: $logo-size;
    padding: 10px;
    @include greyscale(70%);
  }

}

.md-sidenav-right {
  z-index: 1024;
  md-toolbar {
    margin-top: 100px;
  }
}
.logo-title {
  position: absolute;
  left: $logo-size+15px;
  top: ($logo-size/2)-$font-size*1.5;
}


.header-image {
  margin-top: -100px;
}

.logo img:hover {
  padding: 10px;
  @include greyscale(50%);
  filter: none;

}




.navbar-fixed-top {
  background-color: $menu-bg-color;
  color: $menu-text-color;
  height: 100px;

}


.nav>li>a{
  @include transition(all 0.5s ease-out);
}

.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px solid $leos-blue;

}
.nav>li>a {
  text-decoration: none;
  background-color: transparent;
  border-top: 1px solid rgba(0,0,0,0);
  padding-top: 42px;
  padding-bottom: 42px;

}

.nav>li>a:focus{
  text-decoration: none;
  background-color: transparent;
  border-top: 1px solid rgba(0,0,0,0);

}

li.active>a {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px solid $leos-blue-hard!important;
}


.navbar-toggle {
  @include transition(all 0.5s ease-in-out);
  margin-right: -30px;
}


.navbar-toggle {
  @include transition(all 0.3s ease-in);
  position: relative;
  float: right;
  padding: 35px 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -25px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}

.navbar-toggle .icon-bar {
  @include transition(all 0.5s ease);
  background-color: $leos-red-hard;
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 0px;
}
.navbar-toggle .icon-bar.last {
  margin-top: 11px;
}

.navbar-toggle .icon-bar.middle{
  float: right;
  margin-top: 4px;


}


.navbar-toggle:hover .icon-bar, .navbar-toggle.active .icon-bar  {
  @include transition(all 0.5s ease);
  display: block;
  width: 22px;
}


.navbar-toggle:hover .icon-bar.first, .navbar-toggle.active .icon-bar.first {
  @include transition(all 0.5s ease);
  @include transform(rotate(-225deg));
}


.navbar-toggle:hover .icon-bar.middle, .navbar-toggle.active .icon-bar.middle {
  @include transition(all 0.5s ease);
  margin-top: 4px;
  width: 18px;
  float: right;
}


.navbar-toggle:hover .icon-bar.last, .navbar-toggle.active .icon-bar.last {
  @include transition(all 0.5s ease);
  @include transform(rotate(225deg));
  margin-top: 11px;
}

.navbar-toggle.reverse .icon-bar.first {
  @include transition(all 0.5s ease);
  @include transform(rotate(225deg));
}
.navbar-toggle.reverse .icon-bar.last {
  @include transition(all 0.5s ease);
  @include transform(rotate(-225deg));
}

.navbar-toggle.reverse .icon-bar.middle {
  margin-right: 4px;
}

.navbar-toggle {
  display: block;
}

.navbar-header {
  @include transition(all .8s ease-in-out);
  float: left;
}
.navbar-header-right {
  float: right;
}

.menu-list {
  a.active {
    background-color: $leos-red-soft;
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 40px;
    color: #FFF;
    text-decoration: none;
    @include transition(all 0.6s ease);
  }

 a:hover {
   width: 100%;
   height: 100%;
   display: block;
   padding: 40px;
   font-size: 20px;
   color: #000000;
   background-color: $leos-blue-light;

   span {
     color: #000000;
   }
 }
  span {
    font-size: 20px;
    color: #FFF;

  }
}
.home a{
  background-color: $leos-blue-hard;
}

.about a{
  background-color: $leos-blue;
}

.blog a{
  background-color: $leos-blue-soft;
}

.admin a{
  background-color: $leos-blue-hyper-soft
}

.login a{
  background-color: $leos-blue-light
}

.locations a{
  background-color: $leos-blue-super-light
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}
.close-aside {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-backdrop {
  height: 100%;
}

.list-group-item {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:first-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item {
  border: none;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: $leos-blue-soft;
  border-color: transparent;
  border-right: 2px solid $leos-blue-hard;

}