//
   Created by Jorge on 17/08/2015.

footer
    .row
        .col-xs-12.contacts
                a.btn.btn-primary-light.btn-block.footer(href="#")
                    .text-center
                        span.glyphicon.glyphicon-barcode
                        span.show Club Leo's Kim Do, 2015



//.text-center Powerade by Jorge Arco