.about-us {
  p {
    text-align: justify;
  }
  h2 {
    color: $leos-red-hard;
  }
  .panel-leos{
    margin-right: -15px;
    margin-left: -15px;
  }
}
.cover-container {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  padding-left: 0px;
}

.about-us-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center top;
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;

}

.about-us .panel {
  padding: 25px;
}