.disciplines {
//  min-height: 300px;
  background-color: #000000;
}

.activities .info {
  @include transition(all 0.5s ease-in-out);
  @include transform(scale(0, 0));
  background-color: rgba(0,0,0,0);
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  .content{
    @include transition(all 0.5s ease-in-out);
    opacity: 0;
    top: 0;
  }
}

.activities:hover .info {
  @include transform(scale(1, 1));
  transform-origin: 50% -50%;
  background-color: rgba(0,0,0,0.8);
  .content{
    opacity: 1;
  }
}
.activities .more {
  @include transition(all 0.5s ease);
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -50px;
  @include opacity(0);
  left: 0;
}

.activities:hover .more {
  bottom: 0%;
  left: 0;
  @include opacity(1);
  background-color: rgba(0,0,0,0.8);
}

.activities {
  overflow: hidden;
  position: relative;
}

.activities .title {
  @include transition(all 0.5s ease-in-out);
  color: #FFF;
  padding: 15px;
  position: absolute;
  top: auto;
  bottom: 0px;
  width: 100%;
  left: 0px;
  @include opacity(0);
  margin-left: -300px;
  margin-top: 0px;

}

.activities:hover .title{
  width: 100%;
  @include opacity(1);
  top: auto;
  bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: rgba(0,0,0,0.8);
}

.activities .title:after{
  @include transition(all 0.5s ease-in-out);
  margin-left: -15px;
}

.activities:hover .title:after{
  width: 100%;
  @include transition-delay(.3s);
}

.activities .content {
  color: $leos-blue-hyper-soft;
  margin-top: 2%;
}

.activities img{
  @include transition(all 0.5s ease-in-out);
  @include greyscale(100%);
}

.activities:hover img{
  @include transition(all .5s ease-in-out);
  @include filter(sepia(0.33));
  @include transform(scale(1.2, 1.2));
}


.the-master {
  background-color: #FFF;
  img {
    @include transition(all .5s ease-in);
    @include filter(sepia(0.51));
    padding-top: 20px;
    padding-bottom: 20px;

  }
  img:hover {
    @include filter(sepia(0));
  }
}

.presentation {
  padding-top: 20px;
  padding-bottom: 20px;
}

.presentation p{
  padding: 20px;
}