
.post {
  .content .btn {
      position: absolute;
  }

  .intro{
    margin-top: 15px;
    p {
      word-break: break-all;
    }
  }
  .extend{
    h2 {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    h2:after {
      content: '';
      position: absolute;
      width: 5%;
      background-color: rgba(0,0,0,0.15);
      height: 1px;
      text-align: center;
      left: 47.5%;
      margin-top: 45px;
    }
  }
}

a.post{
  &:hover {
    .master img {
      border: 0px solid white;
      box-shadow: 2px 3px 3px #CCC;
    }
  }
}