//
   Created by jorge on 30/07/15.


button.btn.btn-danger.btn-lg.pull-right(type="button" ng-click="close()")
    span.glyphicon.glyphicon-remove

.content
    .panel
        .panel-heading
            h2.modal-title Acceso
        .panel-body(login="")