//
   Created by jorge on 30/07/15.

.alert.alert-success(ng-show="loginStatus === true")
    button.close(ng-click="loginStatus = null")
        span(aria-hidden="true") &times;
    | Bienvenido <span ng-bind="getUser().username"></span>!
.alert.alert-danger(ng-show="loginStatus === false")
    button.close(ng-click="loginStatus = null")
        span(aria-hidden="true") &times;
    | Mmm... Usuario y contraseña no validos entre sí.

form
    input.form-control( ng-model="access.username"  type="email"    placeholder="Email" )
    input.form-control( ng-model="access.password"  type="password" placeholder="Password" )
    button.btn.btn-primary.btn-lg(ng-click="login(access)") Entrar

