//
   Created by jorge on 17/09/15.

.row
    .title
        h1.text-center Horarios
    .wrap-white
        .container.horary
            .row
                .col-md-12
                    h1.text-center Tomares
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Hora
                                    th Lunes
                                    th Martes
                                    th Miércoles
                                    th Jueves
                                    th Viernes
                            tbody
                                tr
                                    td(data-th="Hora")
                                        strong 9-10
                                    td(data-th="Lunes") Haidong Gum Do
                                    td(data-th="Martes") -
                                    td(data-th="Miércoles") -
                                    td(data-th="Jueves") Haidong Gum Do
                                    td(data-th="Viernes") -

                                tr
                                    td(data-th="Hora")
                                        strong 10-11
                                    td(data-th="Lunes") Savate
                                    td(data-th="Martes") -
                                    td(data-th="Miércoles") -
                                    td(data-th="Jueves") Savate
                                    td(data-th="Viernes") -

                                tr
                                    td(data-th="Hora")
                                        strong 11-12
                                    td(data-th="Lunes") Taekwondo
                                    td(data-th="Martes") -
                                    td(data-th="Miércoles") -
                                    td(data-th="Jueves") Taekwondo
                                    td(data-th="Viernes") -

                                tr
                                    td(data-th="Hora")
                                        strong 17-18
                                    td(data-th="Lunes") Pre - Taekwondo
                                    td(data-th="Martes") Pre - Taekwondo
                                    td(data-th="Miércoles") Pre - Taekwondo
                                    td(data-th="Jueves") Pre - Taekwondo
                                    td(data-th="Viernes") -
                                tr
                                    td(data-th="Hora")
                                        strong 18-19
                                    td(data-th="Lunes") Taekwondo Infantil
                                    td(data-th="Martes") Taekwondo Infantil
                                    td(data-th="Miércoles") Taekwondo Infantil
                                    td(data-th="Jueves") Taekwondo Infantil
                                    td(data-th="Viernes") Taekwondo Infantil
                                tr
                                    td(data-th="Hora")
                                        strong 19-20
                                    td(data-th="Lunes") Taekwondo Juvenil
                                    td(data-th="Martes") Taekwondo Juvenil
                                    td(data-th="Miércoles") Taekwondo Juvenil
                                    td(data-th="Jueves") Taekwondo Juvenil
                                    td(data-th="Viernes") Taekwondo Juvenil
                                tr
                                    td(data-th="Hora")
                                        strong 20-21
                                    td(data-th="Lunes") Taekwondo Adulto
                                    td(data-th="Martes") Taekwondo Adulto
                                    td(data-th="Miércoles") Taekwondo Adulto
                                    td(data-th="Jueves") Taekwondo Adulto
                                    td(data-th="Viernes") Taekwondo Adulto
                                tr
                                    td(data-th="Hora")
                                        strong 21-22
                                    td(data-th="Lunes") Savate
                                    td(data-th="Martes") -
                                    td(data-th="Miércoles") Savate
                                    td(data-th="Jueves") -
                                    td(data-th="Viernes") -

                    h1.text-center Espartinas
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Hora
                                    th Martes
                                    th Jueves
                                    th Viernes
                            tbody

                                tr
                                    td(data-th="Hora")
                                        strong 17-18
                                    td(data-th="Lunes") -
                                    td(data-th="Martes") Savate (Boxeo Frances)
                                    td(data-th="Miércoles") -
                                    td(data-th="Jueves") Savate (Boxeo Frances)
                                    td(data-th="Viernes") -

                                tr
                                    td(data-th="Hora")
                                        strong 18-19
                                    td(data-th="Lunes") -
                                    td(data-th="Martes") Taekwondo Infantil
                                    td(data-th="Miércoles") -
                                    td(data-th="Jueves") Taekwondo Infantil
                                    td(data-th="Viernes") Taekwondo competición

                                tr
                                    td(data-th="Hora")
                                        strong 19-20
                                    td(data-th="Lunes") -
                                    td(data-th="Martes") Taekwondo Juvenil
                                    td(data-th="Miércoles") -
                                    td(data-th="Jueves") Taekwondo Juvenil
                                    td(data-th="Viernes") Taekwondo competición

                                tr
                                    td(data-th="Hora")
                                        strong 20-21
                                    td(data-th="Lunes") -
                                    td(data-th="Martes") Taekwondo Adultos
                                    td(data-th="Miércoles") -
                                    td(data-th="Jueves") Taekwondo Adultos
                                    td(data-th="Viernes") -

                    h1.text-center Sanlúcar la Mayor
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Hora
                                    th Lunes
                                    th Martes
                                    th Miércoles
                                    th Jueves
                                    th Viernes
                            tbody

                                tr
                                    td(data-th="Hora")
                                        strong 17-18
                                    td(data-th="Lunes") Pre Taekwondo
                                    td(data-th="Martes") -
                                    td(data-th="Miércoles") Pre Taekwondo
                                    td(data-th="Jueves") -
                                    td(data-th="Viernes") -

                                tr
                                    td(data-th="Hora")
                                        strong 18-19
                                    td(data-th="Lunes") Taekwondo Infantil
                                    td(data-th="Martes") -
                                    td(data-th="Miércoles") Taekwondo Infantil
                                    td(data-th="Jueves") -
                                    td(data-th="Viernes") -

                                tr
                                    td(data-th="Hora")
                                        strong 19-20
                                    td(data-th="Lunes") Juvenil y adultos
                                    td(data-th="Martes") -
                                    td(data-th="Miércoles") Juvenil y adultos
                                    td(data-th="Jueves") -
                                    td(data-th="Viernes") -

