//
   Created by jorge on 20/07/15.
.menu-aside
    .row
        .col-xs-12
            //button.pull-right.btn.btn-danger.glyphicon.glyphicon-menu-right.close-aside(ng-click='close()')
            button.navbar-toggle.active.reverse(type='button' ng-class="{'active': activeModal == false}" ng-click='close(); activeModal = false')
                span.sr-only Toggle navigation
                span.icon-bar.first
                span.icon-bar.middle
                span.icon-bar.last

    .menu-list
        .col-sm-12.text-center.home
            .row
                a(ui-sref='home' ui-sref-active-eq="active" ng-click="close()")
                    span.glyphicon.glyphicon-home
                    br
                    | Home
        .col-sm-12.text-center.home
            .row
                a(ui-sref='about' ui-sref-active-eq="active" ng-click="close()")
                    span.glyphicon.glyphicon-book
                    br
                    | Nosotros
        .col-sm-12.text-center.home
            .row
                a(ui-sref='blog' ui-sref-active-eq="active" ng-click="close()")
                    span.glyphicon.glyphicon-font
                    br
                    | Blog
        .col-sm-12.text-center.home
            .row
                a(ui-sref='horary' ui-sref-active="active" ng-click="close()")
                    span.glyphicon.glyphicon-calendar
                    br
                    | Horarios
        .col-sm-12.text-center.home
            .row
                a(ui-sref='galleries' ui-sref-active="active" ng-click="close()")
                    span.glyphicon.glyphicon-camera
                    br
                    | Galería
        .col-sm-12.text-center.home
            .row
                a(ui-sref='contact' ui-sref-active-eq="active" ng-click="close()")
                    span.glyphicon.glyphicon-map-marker
                    br
                    | Contacto
        .col-sm-12.text-center.login
            .row
                a(ng-click="loginUser();")
                    span.glyphicon.glyphicon-user
                    br
                    | Acceso
        .col-sm-12.text-center.login.logout(ng-show="getUser() != null")
            .row
                a(ng-click="logoutUser();")
                    span.glyphicon.glyphicon-log-out
                    br
                    | Logout