footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1049;

  .glyphicon {
    font-size: 20px;
    color: #FFF;
    padding-right: 20px;
  }

  a {
    margin-bottom: 2px;
  }

  .btn.footer {
    overflow: hidden;

    .glyphicon {
      @include transition(all .5s ease);
      top: 0px;
    }

    .show {
      @include transition(all .5s ease);
      position: absolute;
      left: 0;
      right: 0;
      top: 120%;
    }

    &:hover {
      .show {
        top: 35%;
      }
      .glyphicon {
        top: -50px;
      }
    }

    background-color: #333;
    border-color: #333;
    color: #FFFFFF;

    &:hover, &:active{

      background-color: #ffffff;
      color: #000000;
      border-color: #333;

      .glyphicon {
        color: #000;
      }
    }
  }

  .space {
    margin-top: 30px;
  }
  .contacts {
    padding-right: 0px;
    padding-left: 0px;
  }
}