
table {
  border-radius: 2px;
  width: 100%;
  text-align: left;
  border: solid 1px #efefef;
  border-spacing: 0px;
  th {
    padding: 0;
  }
  td,
  th {
    @include transition(all 0.5s);
    display: block;
    text-align: center;
    @media screen and (min-width: $table-main-breakpoint-1) {
      padding: 1em;
      display: table-cell;
    }
  }
  td {
    &:nth-child(odd) {
      background-color: #EEEEEE;
    }
    &:first-child {
      margin-top: 1em;
      font-weight: 800;
      color: white;
      background-color: $leos-blue-soft;
      strong {
        font-size: 27px;
      }
    }

    &:before {
      // this is where the magic happens
      content: attr(data-th) ': ';
      font-weight: 800;
      width: 30%;
      display: block;
      position: absolute;
      @media screen and (min-width: $table-main-breakpoint-1) {
        display: none;
      }
    }
  }
  thead tr {
    color: transparent;
    font: 0/0 a;
    @media screen and (min-width: $table-main-breakpoint-1) {
      color: inherit;
      font: inherit;
    }
  }
  tbody {
    tr {
      border-bottom: solid 1px #efefef;
    }
  }
  td:first-child {
    margin-top: 0px;
  }
}
