
// Panels
.panel {
  color: #000;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}


.panel-leos .panel-title {
  border-bottom: 1px solid $leos-blue;
}

.title {
//  background-color: #000;
  h1 {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  h1:after {
    content: '';
    position: absolute;
    width: 5%;
    background-color: rgba(0,0,0,0.15);
    height: 1px;
    text-align: center;
    left: 47.5%;
    margin-top: 20px;
  }
//  h1:before {
//    content: '';
//    position: absolute;
//    width: 5%;
//    background-color: rgba(0,0,0,0.15);
//    height: 1px;
//    text-align: center;
//    left: 47.5%;
//    margin-top: -20px;
//  }
}

.wrap-white {
  background: $leos-white;
  color: $menu-text-color;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-top: $wrapper-margins;
  margin-bottom: $wrapper-margins;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid $leos-red-hard;
}