//
   Created by jorge on 20/07/15.


.row.title
    h1.text-center El Maestro

.row.card
        .backgound-img
            img.img-responsive.center-block(src="/images/Taekwondo-07.jpg")
        .content
            .container
                .col-md-12
                    .master
                        img.img-responsive.center-block(src="/images/leo-face.jpg")
                .col-md-12
                    h2.text-center Maestro Leo
                        span 6º DAN
                    h4.text-center Maestro Nacional por la
                        span  Federación Española de Taekwondo
                    .info
                        p  Comenzó a impartir clases de Taekwondo en Sevilla el año 1988, ayudando a su
                            stron  Maestro Tai Myung Kim Sin  8º Dan
                            |  y desde entonces no ha parado de enseñar, ni de aprender. Su vocación hacia el
                            b  Taekwondo
                            |  que le ha hecho compaginar su vida de Maestro con la de
                            strong  árbitro y juez nacional
                            |  participando en cientos de campeonatos a nivel nacional e internacional, siendo incluso premiado por su trayectoria arbitral tras más de
                            strong  20 años
                            |  en primera línea.
                        p Su pasión por la artes marciales y la cultura coreana, le ha llevado a seguir aprendiendo otras disciplinas coreanas, tales como el
                            strong  Hapkido
                            |  , el
                            strong  Haidong Kumdo
                            |  y otras disciplinas fuera de Korea como <strong>Savate</strong>
                    a.btn.btn-block(href="/about") ver mas
.row.title
    h1.text-center El Segundo de abordo

.row.card
    .backgound-img
        img.img-responsive.center-block(src="/images/fight.jpg")
    .content
        .container
            .col-md-12
                .master
                    img.img-responsive.center-block(src="/images/javi-face.jpg")
            .col-md-12
                h2.text-center Maestro Javi
                    span 4º DAN
                h4.text-center Entrenador por la
                    span  Federación Española de Taekwondo
                .info
                    p <strong>Árbitro nacional</strong>, masajista deportivo, quiromasajista superior y experto en kinesiotaping. Dedica su tiempo y esfuerzo al aprendizaje y la salud. <strong>Javi</strong> es tambien habitual del equipo de arbitraje en las competiciones de Taekwdondo a nivel andaluz y nacional desde hace varios años.
                    p Con su trabajo meticuloso y su trato afable se ha ganado el respeto y el cariño de todos sus alumnos y compañeros, especialmente el de los más pequeños.

.row.title
    h1.text-center El Maestro de Hapkido

.row.card
    .backgound-img
        img.img-responsive.center-block(src="/images/hapkidobg.jpg")
    .content
        .container
            .col-md-12
                .master
                    img.img-responsive.center-block(src="/images/carmelo.jpg")
            .col-md-12
                h2.text-center Maestro Carmelo E.Soto
                    span 8º DAN
                h4.text-center Maestro Naciaonal
                    span  e Internacional
                .info
                    p Uno de los pioneros del Hapkido en España, alumno de Tae Myung Kim y con más de treinta años de experiencia impartiendo clases.

.row.title
    h1.text-center Disciplinas
.row.disciplines
    .col-sm-4.col-md-4
        .row.activities
            img.img-responsive(src="/images/taekwondo-home.jpg")
            h1.title Taekwondo
    .col-sm-4.col-md-4
        .row.activities
            img.img-responsive(src="/images/HKD.jpg")
            h1.title Hapkido
    .col-sm-4.col-md-4
        .row.activities
            img.img-responsive(src="/images/haidong_gumdo.jpg")
            h1.title Haedong Kumdo
    .col-sm-4.col-md-4
        .row.activities
            img.img-responsive(src="/images/savate.jpg")
            h1.title Savate
