//
   Created by jorge on 6/10/15.
.row
    .title
        h1.text-center Ven a vernos!
    .col-sm-12.wrap-white
        .row
            .col-md-6.space
                a.btn.btn-primary.btn-lg.btn-block(href="https://www.google.com/maps/place/Alb%C3%A9niz+Escuela+de+M%C3%BAsica+de+Tomares/@37.375144,-6.042389,17z/data=!3m1!4b1!4m2!3m1!1s0xd126ceb9e9ac9a3:0x7fb558b663764153?hl=en" target="_blank") Virgen de los Dolores n 38, Tomares
                leos-map(id="tomares-map" style="height: 400px;display: block;" lat="37.375322500031224" lng="-6.042916691350911" name="Tomares")
                a.btn.btn-info.btn-lg.btn-block(href="http://www.albenizmusical.es/" target="_blank") <strong>Escuela de Música Albéniz</strong>
            .col-md-6.space
                a.btn.btn-primary.btn-lg.btn-block(href="https://www.google.es/maps/place/Calle+Virgen+del+Rocio,+4,+41807+Espartinas,+Sevilla/@37.38094,-6.1316887,882m/data=!3m2!1e3!4b1!4m5!3m4!1s0xd121393054b3fdf:0x7a57dbc8ecc82db3!8m2!3d37.38094!4d-6.1295?hl=es" target="_blank") Calle Virgen del Rocio, 6, Espartinas
                leos-map(id="espartinas-map" style="height: 400px;display: block;" lat="37.38094" lng="-6.1316887" name="Espartinas")
                a.btn.btn-info.btn-lg.btn-block(href="#" target="_blank") <strong>Escuela de Artes Marciales Leo's Kim Do, Espartinas</strong>
        hr
        .row
            .col-md-6.space
                a.btn.btn-primary.btn-lg.btn-block(href="https://www.google.es/maps/@37.3058937,-6.2428229,185m/data=!3m1!1e3?hl=es" target="_blank") Polideportivo Municipal Aznalcazar. Carretera Bormujos, Aznalcazar.
                leos-map(id="aznalcazar-map" style="height: 400px;display: block;" lat="37.3830106" lng="-6.199246" name="Polideportivo Municipal Aznalcazar")
                a.btn.btn-info.btn-lg.btn-block(href="#" target="_blank") <strong>Escuela de Artes Marciales Leo's Kim Do, Aznalcazar</strong>
            .col-md-6.space
                a.btn.btn-primary.btn-lg.btn-block(href="https://www.google.es/maps/place/Centro+Privado+de+Ense%C3%B1anza+Santa+Mar%C3%ADa+la+Mayor/@37.3830106,-6.2014347,17z/data=!3m1!4b1!4m5!3m4!1s0xd1210d6decd1611:0x30160a99e42fd9b1!8m2!3d37.3830106!4d-6.199246" target="_blank") Av de Concepción Rodríguez Solís, 53, Sanlúcar la Mayor
                leos-map(id="sanlucar-map" style="height: 400px;display: block;" lat="37.3830106" lng="-6.199246" name="Sanlúcar la Mayor")
                a.btn.btn-info.btn-lg.btn-block(href="http://www.maristassanlucar.com/" target="_blank") <strong>Centro Privado de Enseñanza Maristas Santa María la Mayor</strong>

