.form-control {
  background: 0 0;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  -webkit-appearance: none!important;
  vertical-align: middle;
  padding-left: 0;
  border-color: rgba(192, 192, 192, 0.5);
  box-shadow: none;
  margin-bottom: 15px;
  @include transition(all .5s ease-in)
}

.form-control:focus {
  box-shadow: none;
  border-color: $leos-red-hard;
}