h1 span.light{
  color:#fefefe;
  text-shadow:
  0px 1px 0px #c0c0c0,
  0px 2px 0px #b0b0b0,
  0px 3px 0px #a0a0a0,
  0px 4px 0px #909090,
  0px 5px 10px rgba(0, 0, 0, 0.6)
;
}

h1 span.dark{
  color: #101010;
  text-shadow:
  0px 1px 0px #555555,
  0px 2px 0px #454545,
  0px 3px 0px #353535,
  0px 4px 0px #252525,
  0px 5px 10px rgba(0, 0, 0, 0.6)
;
}
