// Loading bar and Spinner

#loading-bar .bar {
  background: $leos-blue-hard!important;
  z-index: 5000!important;
}

#loading-bar-spinner {
  z-index: 2049!important;
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}

#loading-bar-spinner .spinner-icon {
  border: 2px solid transparent!important;
  border-top-color: $leos-blue-hard !important;
  border-left-color: $leos-red-hard !important;
  margin: auto;
  width: 74px!important;
  height: 74px!important;
  border-radius: 50%!important;
  position: absolute!important;
  @include opacity(0.6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
